<section class="contact-us bg-gray-100 py-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold text-brand-green mb-4"></h2>

    <div class="contact-info">
      <div class="flex justify-center items-center mb-4">
        <i class="fa-solid fa-phone-alt text-xl mr-2 text-brand-green"></i>
        <a href="tel:676247042" class="text-xl text-brand-green"
          >676 24 70 42</a
        >
      </div>

      <div class="flex justify-center items-center mb-4">
        <i class="fa-solid fa-envelope text-xl mr-2 text-brand-green"></i>
        <a href="mailto:eduardolopezruiz77@gmai.com" class="text-xl text-brand-green"
          >eduardolopezruiz77@gmai.com</a
        >
      </div>
    </div>

    <div class="mt-8">
      <p class="text-sm text-gray-600">
        &copy; <span id="currentYear"></span> Alicatados y pavimentos Eduardo López
        Ruíz
      </p>
    </div>
  </div>
</section>

<script>
  // Obtenemos el año actual y lo insertamos en el lugar correspondiente
  document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
